<h1>WELCOME TO THE INDEX ROUTE!!!</h1>
<li><a href="/members">Members only!</a></li>
<li><a href="/signup">Sign up!</a></li>
<li><a href="/login">Sign in!</a></li>
<li><a href="/logout">Log out!</a></li>