<h1>YOU FOUND THE MEMBERS ONLY ROUTE!</h1>
<p>(Don't tell nobody!)</p>
<li><a href="/members">Members only!</a></li>
<li><a href="/signup">Sign up!</a></li>
<li><a href="/login">Sign in!</a></li>
<li><a href="/logout">Log out!</a></li>